<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">怀谦学之心，览人生百态</h2>
                <hr class="light">
                <p class="text-faded">不敢说自己是程序员，不能说自己是个作家，不愿说自己是个大俗人。<br>过去十八岁，没戴表，不过有时间。霎眼二十岁，时日无多方不敢偷懒，奋斗总不太晚。<br>
                    My name is <strong>Wan NianJay</strong> , Nice to meet you.
                </p>
                <a href="#services" class="btn btn-default btn-xl wow tada page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
