<div class="modal-toggle-group animate scaleIn">
  <div class="modal-toggle-bubbleShadow"></div>
  <div class="modal-toggle-bubble"></div>
  <div class="modal-toggle-wrapper"></div>
  <div class="modal-toggle-close-wrapper">
    <div class="modal-toggle-close"></div>
  </div>
</div>

<div class="fullscreenModal u-table">
  <div class="u-tableCell u-verticalAlignMiddle">
    <h2 class="h2--shareTitle">Share FAN & WAN's Story</h2>
    <ul class="shareWrapper">
      <li><a class="shareButton shareButton--twitter" href="{{ site.baseurl }}/TillDie/" target="_blank"></a></li>
      <li><a class="shareButton shareButton--facebook" href="{{ site.baseurl }}/TillDie/" target="_blank"></a></li>
      <li><a class="shareButton shareButton--linkedin" href="{{ site.baseurl }}/TillDie/" target="_blank"></a></li>
      <li><a class="shareButton shareButton--buffer" href="{{ site.baseurl }}/TillDie/" target="_blank"></a></li>
      <li><a class="shareButton shareButton--hackernews" href="{{ site.baseurl }}/TillDie/" target="_blank"></a></li>
      <li><a class="shareButton shareButton--pocket" href="{{ site.baseurl }}/TillDie/"  target="_blank"></a></li>
    </ul>
  </div>
</div>
