//
// Colors
// --------------------------------------------------
@use "sass:color";

$gray-darker:  color.adjust(#000, $lightness: 13.5%) !default; // #222
$gray-dark:    color.adjust(#000, $lightness: 20%) !default;   // #333
$gray:         color.adjust(#000, $lightness: 33.5%) !default; // #555
$gray-light:   color.adjust(#000, $lightness: 46.7%) !default; // #777
$gray-lighter: color.adjust(#000, $lightness: 93.5%) !default; // #eee

$white:                 #fff;
$black:                 #222;

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$body-bg:               #fff !default;
$frontpage-body-bg:     #f2f2f2 !default;
$text-color:            rgba(0,0,0,0.8) !default;

$link-color:            $text-color !default;
$link-hover-color: color.adjust($link-color, $lightness: -15%) !default;
// 如果全部显示彩色
// $link-hover-color:      #000 !default;

$metabar-top-bg:				#eee !default;

$hero-gradient:         $gray-dark;
